body {
    background-image: url('./images/image.jpg');
    margin-top: 40px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position:top;
    
}
    
h1 {
        color:rgb(240, 203, 82);
    margin-top: center;
    text-align: center;
    margin-top: 100px;
    font-size: 75px;
}   

.share {
    border: 1px solid rgb(44, 8, 250);
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .share a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    margin: 10px;
  }
  
  .share a:hover {
    background: rgb(255, 255, 255);
    border: 1px solid red;
    color: red;
    
  }